# IntelliJ IDEA files
/**/.idea
*.iml

# Target folder and compiled class and package files
/**/target

# Test and log folders and files
/**/allure-results
/**/build
*.log
*.csv
*.txt

# Excepted test folders and files
!/homework-02/*/src/main/resources/*
