# IntelliJ IDEA files
/**/.idea
*.iml

# Target folder and compiled class and package files
/**/target
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Test and log files
*.log
*.bat
*.key
*.csv
*.txt

# Excepted test folders and files
!/homework-02/*/src/main/resources/*
