# IntelliJ IDEA files
/**/.idea
*.iml

# Target folder and compiled class and package files
/**/target
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Test Files
*.csv
*.txt

# Target Folder
*/target


# Excepted test files
!/homework-02/*/src/main/resources/*
